/* src/styles/Header.css */

.header {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    background-color:transparent    ;
    color: white;
    z-index: 10;
    
  }
  
  .header-logo {
    width: 100px;  /* Adjust based on your logo size */
  }
  
  .header-nav {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ddd;
  }
  

  .header-brand {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header-title {
    display: flex;
    flex-direction: column; /* Makes the titles stack vertically */
    gap: 2px; 
    text-align: left; 
     /* Adjust the space between the two lines as needed */
  }
  
  .header-title > div:first-child {
    font-size: 2rem;  /* Adjust font size as needed */
    font-weight: normal;
    color: white;
  }
  
  .header-title > div:last-child {
    font-size: 2rem;  /* Adjust font size as needed */
    font-weight: normal;
    color: white;
  }